@model List<Vaperoom.Storage.Entity.Product>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вейп Шоп | Vape shop</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="content">
        <div class="wrapper">
            <div class="newproducts">
                <h1 class="product-title">Жидкости</h1>
                <div class="wrapper-slider">
                    <div class="slider-container">
                        <div class="slider-track">
                            @foreach (var product1 in Model.Where(st => st.Category.Category_Name == "POD-системы и комплектующие"))
                            {
                                <div class="slider-item" style="padding-left: 2px;">
                                    <a href="#" style="display: block;">
                                        <div class="new">
                                            <div class="previev">
                                                <img src=@product1.Img alt="" width="250" height="235">
                                            </div>
                                            <p class="nameprod">@product1.Name</p>
                                            <p class="price">@product1.Value ₽</p>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="slider-buttons">
                        <button class="btn-prev"></button>
                        <button class="btn-next"></button>
                        <a href="#" class="all-btn">ВСЁ</a>
                    </div>
                </div>

                <h1 class="product-title">Жидкости для POD и MTL</h1>
                <div class="wrapper-slider">
                    <div class="slider-container slider-container2">
                        <div class="slider-track slider-track2">
                            @foreach (var product2 in Model.Where(st => st.Category.Category_Name == "Жидкости для POD и MTL"))
                            {
                                <div class="slider-item slider-item2" style="padding-left: 2px;">
                                    <a href="#" style="display: block;">
                                        <div class="new">
                                            <div class="previev">
                                                <img src=@product2.Img alt="" width="250" height="235">
                                            </div>
                                            <p class="nameprod">@product2.Name</p>
                                            <p class="price">@product2.Value ₽</p>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="slider-buttons">
                        <button class="btn-prev btn-prev2"></button>
                        <button class="btn-next btn-next2"></button>
                        <a href="#" class="all-btn">ВСЁ</a>
                    </div>
                </div>



                <h1 class="product-title">Готовые койлы</h1>
                <div class="wrapper-slider">
                    <div class="slider-container slider-container2 slider-container3">
                        <div class="slider-track slider-track2 slider-track3">
                            @foreach (var product3 in Model.Where(st => st.Category.Category_Name == "Готовые койлы"))
                            {
                                <div class="slider-item slider-item2 slider-item3" style="padding-left: 2px;">
                                    <a href="#" style="display: block;">
                                        <div class="new">
                                            <div class="previev">
                                                <img src=@product3.Img alt="" width="250" height="235">
                                            </div>
                                            <p class="nameprod">@product3.Name</p>
                                            <p class="price">@product3.Value</p>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="slider-buttons">
                        <button class="btn-prev btn-prev2 btn-prev3"></button>
                        <button class="btn-next btn-next2 btn-next3"></button>
                        <a href="#" class="all-btn">ВСЁ</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <script src="script_slider3.js"></script>
    <script src="script_slider3-2.js"></script>
    <script src="script2.js"></script>
</body>
</html>