@model List<Vaperoom.Storage.Entity.Product>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вейп Шоп | Vape shop</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="content">
        <div class="wrapper">
            <div class="newproducts">
                @if (Model.Where(st => st.Category.Category_Name == "POD-системы и комплектующие").Count() != 0)
                {
                    <h1 class="product-title">POD-системы и комплектующие</h1>
                    <div class="wrapper-slider">
                        <div class="slider-container">
                            <div class="slider-track">
                                @foreach (var product1 in Model.Where(st => st.Category.Category_Name == "POD-системы и комплектующие"))
                                {
                                    <div class="slider-item" style="padding-left: 2px;">
                                        <a href=@Url.Action("Product","Products",new { ProductId = product1.ProductID}) style="display: block;">
                                            <div class="new">
                                                <div class="previev">
                                                    <img src=@product1.Img alt="" width="250" height="235">
                                                </div>
                                                <p class="nameprod">@product1.Name</p>
                                                <p class="price">@product1.Value ₽</p>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="slider-buttons">
                            <button class="btn-prev"></button>
                            <button class="btn-next"></button>
                            <a href="#" class="all-btn">ВСЁ</a>
                        </div>
                    </div>
                }

                @if (Model.Where(st => st.Category.Category_Name == "Жидкости для POD и MTL").Count() != 0)
                {
                    <h1 class="product-title">Жидкости для POD и MTL</h1>
                    <div class="wrapper-slider">
                        <div class="slider-container slider-container2">
                            <div class="slider-track slider-track2">
                                @foreach (var product2 in Model.Where(st => st.Category.Category_Name == "Жидкости для POD и MTL"))
                                {
                                    <div class="slider-item slider-item2" style="padding-left: 2px;">
                                        <a href=@Url.Action("Product","Products",new { ProductId = product2.ProductID}) style="display: block;">
                                            <div class="new">
                                                <div class="previev">
                                                    <img src=@product2.Img alt="" width="250" height="235">
                                                </div>
                                                <p class="nameprod">@product2.Name</p>
                                                <p class="price">@product2.Value ₽</p>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="slider-buttons">
                            <button class="btn-prev btn-prev2"></button>
                            <button class="btn-next btn-next2"></button>
                            <a href="#" class="all-btn">ВСЁ</a>
                        </div>
                    </div>
                }


                @if (Model.Where(st => st.Category.Category_Name == "Девайсы").Count() != 0)
                {
                    <h1 class="product-title">Девайсы</h1>
                    <div class="wrapper-slider">
                        <div class="slider-container slider-container2 slider-container3">
                            <div class="slider-track slider-track2 slider-track3">
                                @foreach (var product3 in Model.Where(st => st.Category.Category_Name == "Девайсы"))
                                {
                                    <div class="slider-item slider-item2 slider-item3" style="padding-left: 2px;">
                                        <a href=@Url.Action("Product","Products",new { ProductId = product3.ProductID}) style="display: block;">
                                            <div class="new">
                                                <div class="previev">
                                                    <img src=@product3.Img alt="" width="250" height="235">
                                                </div>
                                                <p class="nameprod">@product3.Name</p>
                                                <p class="price">@product3.Value ₽</p>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="slider-buttons">
                            <button class="btn-prev btn-prev2 btn-prev3"></button>
                            <button class="btn-next btn-next2 btn-next3"></button>
                            <a href="#" class="all-btn">ВСЁ</a>
                        </div>
                    </div>
                 }
                </div>
        </div>
    </div>

    @*<div class="clearfix"></div>
    <div class="footer">
        <div class="wrapper">
            <div class="footer_top">
                <div class="conteiner_div">
                    <div class="Category">
                        <a href="#" class="footer_ref ref1">ИНФО</a>
                    </div>

                    <div class="support">
                        <a href="#" class="footer_ref ref3">Our Support</a>
                    </div>
                    <div class="about">
                        <a href="#" class="footer_ref ref5">About Us</a>
                    </div>
                    <div class="newsletter">
                        <a href="#" class="footer_ref ref4">Newsletter</a>
                    </div>
                </div>


                <div class="logo-footer">
                    <div class="image-footer">
                        <img src="img/VapeShopLogo.png" alt="">
                    </div>
                </div>



                <div class="conteiner_ul">
                    <ul class="ul1">
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Design and Development by guccigang</a></li>
                    </ul>
                    <ul class="ul3">
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Search Terms</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="#">Mobilet</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Addresses</a></li>
                    </ul>
                </div>


                <div class="entermail">
                    <p>Join thousands of other people sub-<br>scribe to our news</p>
                    <form action="">
                        <input type="email" placeholder="INSERT EMAIL" class="email">
                        <input type="button" value="SUBMIT" class="submit">
                    </form>
                    <div class="money">
                        <a href="#" class="visa americanar"></a>
                        <a href="#" class="visa mastercard"></a>
                        <a href="#" class="visa maestro"></a>
                        <a href="#" class="visa paypal"></a>
                        <a href="#" class="visa discover"></a>
                        <a href="#" class="visa visa_jpg"></a>
                    </div>
                </div>
                <div class="aboutfooter">
                    <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem eum, eaque eligendi corporis dolorem, voluptatum nisi pariatur vitae expedita reprehenderit ut quaerat molestiae quae ipsam in accusamus, odit voluptate. Numquam.</p>
                    <p class="phone">Phone: 1-999-342-9876</p>
                    <p class="emailfooter">e-mail: info@surfhouse.com</p>
                </div>


            </div>
        </div>
    </div>
    <div class="clearfix"></div>*@

    @*<script src="~/Js/script2.js"></script>
    <script src="~/Js/script_slider3.js"></script>*@
</body>
</html>